/* selector {color: #ffffff;} */
@import url(./reset-default-styles.css);
@import url(./nav-top.css);
@import url(./nav-side.css);
@import url(./footer.css);
@import url(./form.css);
@import url(./table.css);

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  /* Sticky footer */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*  Push the content */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
  /* sticky footer */
  flex: 1;
}

#main {
  display: block;
  padding: 140px;
  max-width: 940px;
  margin: 0 auto;
}

.main-title {
  font-family: Arial, Helvetica, sans-serif;
  font-style: 20px;
  font-weight: bold;
}

.main-subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-style: 15px;
  font-weight: bold;
  color: #707070;
}

body::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #c1c1c1; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #fb2c70; /* color of the scroll thumb */
  border-radius: 5px; /* roundness of the scroll thumb */
}

.alert {
  padding: 20px;
  background-color: #15bdf0;
  color: white;
  margin-bottom: 15px;
  border-radius: 5px;
}

/* Misc */

.unique-selector {
  /* All */
  padding: 10px;
}

.double-selector {
  /* Vertical | Horizontal */
  padding: 20px 10px;
}

.quadruple-selector {
  /* top | right | bottom | left */
  padding: 5px 10px 15px 20px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

div#square {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  background-color: #deb887;
}
