<aside>
  <nav class="side-nav">
    <a class="close-btn" href="javascript:void(0)" onclick="closeSideNav()">&times;</a>
    <a class="side-nav-link main-link" href="./internet.html">Internet</a>
    <a class="side-nav-link main-link" href="./seo.html">seo</a>
    <a class="side-nav-link main-link" href="./html.html">html</a>
    <a class="side-nav-link main-link" href="./css.html">css</a>
    <a class="side-nav-link main-link" href="./javascript.html">javascript</a>
    <a class="side-nav-link main-link" href="./form.html">form</a>
    <a class="accordion"><span>&gt; </span>Bootstrap</a>
    <div class=" sub-nav">
      <a href="./bootstrap/bootstrap-forms.html">Bootstrap Forms</a>
      <a href="./bootstrap/bootstrap-container-fluid.html">Bootstrap Container Fluid</a>
      <a href="./bootstrap/bootstrap-container.html">Bootstrap Container Fixed</a>
      <a href="./bootstrap/bootstrap-collapse-card.html">Bootstrap Collapse & Cards</a>
    </div>
  </nav>
</aside>